body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.debug {
	background-color: #F00;
}

#menu {
	flex-grow: 2;
	align-content: center;
	background-color: #AAA;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wrapper {
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

#areaBolas {
	flex-shrink: 2;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;
}

.fila {
	background-color: #DDD;
	position: relative;
	display: flex;
	overflow: hidden;
	padding: 0px 10px;
	flex-shrink: 0;
}

.bola {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border-radius: 100%;
	position: relative;
	box-shadow: 2px 2px 5px #0004;
}
.bola.cor0 {
	background: radial-gradient(circle at 30% 30%, #FFF, #AAA);
}
.bola.cor1 {
	background: radial-gradient(circle at 30% 30%, #FFF, #F00);
}
.bola.cor2 {
	background: radial-gradient(circle at 30% 30%, #FFF, #00F);
}
.bola.cor3 {
	background: radial-gradient(circle at 30% 30%, #FFF, #0F0);
}
.bola.cor4 {
	background: radial-gradient(circle at 30% 30%, #FFF, #FF0);
}
.bola.cor5 {
	background: radial-gradient(circle at 30% 30%, #FFF, #0FF);
}
.bola.cor6 {
	background: radial-gradient(circle at 30% 30%, #FFF, #F0F);
}
.bola.cor7 {
	background: radial-gradient(circle at 30% 30%, #FFF, #000);
}

#areaTabuleiro {
	align-items: center;
	width: 100%;
	flex-shrink: 0;
}
.tabuleiro {
	background-color: #EEE;
	display: grid;
	justify-content: center;
	padding-bottom: 10px;
	position: relative;
}
.celula {
	box-shadow: 0px 0px 20px inset #0004;
}
.slot {
	position: absolute;
	border-radius: 20px;
	background-color: #AAAD;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.1s top, 0.1s left;
	border: 4px ridge #FFF4;
	box-sizing: border-box;
}